<!--bottom_nav.ejs, Leticia Lopez, 301087698, 09-10-2020-->    <footer>
      <nav class="navbar fixed-bottom navbar-dark" style="background-color: #FF5733">
        <h6 class="display-6 navbar-text">&copy; Copyright 2020. All rights reserved.</h6>
      </nav>
    </footer>